.intro {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  margin-top: 6%;
}

.presentacion {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 4.5rem;
}
.typed {
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
}

.a {
  text-decoration: none;
}
.a:visited {
  text-decoration: none;
}

.btn {
  margin-top: 5rem;
  cursor: pointer;
  background: transparent;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  border: 1px solid;
}

.btn .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  right: 0.3em;
  transition: all 0.3s;
}

.btn:hover .icon {
  width: calc(100% - 0.6em);
  transition: all 1s;
}

.btn .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #0069d9;
  transition: all 1s;
}

.btn:hover .icon svg {
  transform: translateX(0.1em);
  transform: rotate(90deg);
  transition: all 1s;
}

.btn:active .icon {
  transform: scale(0.95);
  transition: all 1s;
}
